@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body {
  margin: 0px;
  font-family: 'Inter';
  font-size: 15px;
}

#menu-container {
  overflow: hidden;
  position: fixed;
  background-color: white;
  display: flex;

  font-weight: 700;
}
#menu-container div:hover {
  color: hsl(5, 85%, 63%);
}

#logo {
  position: fixed;
  background-color: white;
}

#headline img {
  width: 100%;
  height: auto;
}
#headline h1 {
  font-size: 50px;
  font-weight: 800;
  margin: 0px;
}
#headline p {
  margin: 0px;  
}
#headline button {
  width: fit-content;
  height: 50px;
  padding: 0px 30px;

  border-width: 0px;
  background-color: hsl(5, 85%, 63%);

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  color:white;
}
#headline button:hover {
  background-color: hsl(240, 100%, 5%);
}

#new {
  width: 100%;
  padding: 20px;
  background-color: hsl(240, 100%, 5%);
  color: white;
}
#new h2 {
  margin: 5px 0px 0px 0px;
  font-size: 40px;
  font-weight: 600;
}
#new ul {
  padding: 0px;
  margin: 0px;
}
#new ul div {
  padding: 10px 0px;
  border-bottom: 1px solid hsl(236, 13%, 42%) ;
}
#new ul div:last-child {
  border-bottom: 0px solid white;
}
#new ul div h3:hover {
  color: hsl(35, 77%, 62%);
}
#new ul div p {
  font-weight: 600;
  color: hsl(236, 13%, 42%);
}

#popular div {
  margin-right: 20px;
  display: flex;
}
#popular div div {
  padding-left: 10px;
  display: block;
}
#popular div img {
  width: 40%;
  height: auto;
  object-fit: contain;
}
#popular div h1 {
  color: hsl(233, 8%, 79%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 599.9px) {
  #menu-button {
    position: fixed;
    right: 0px;
    width: 40px;
    aspect-ratio: 1/1;
    margin: 10px;

    object-fit: contain;
    z-index: 99999;
  }

  #menu-container {
    width: 60%;
    height: 100%;
    right: 0px;
    padding-top: 20%;

    flex-direction: column;
  }
  #menu-container div {
    padding: 20px;
  }
  #logo {
    width: 40px;
    height: auto;
    padding: 20px 100% 20px 10px;
  }

  #container {
    width: 95%;
    margin: 0px 2.5%;
    padding: 64.61px 0px 0px 0px;
  }

  #headline h1 {
    margin: 10px 0px;
  }
  #headline button {
    margin: 10px 0px;
  }

  #new {
    width: fit-content;
    margin: 10px 0px;
  }
  
  #popular {
    margin: 20px 0px 10px 0px;
  }
  #popular div {
    margin: 10px 0px;
  }
  #popular div img {
    width: 30%;
  }
  #popular div h1 {
    font-size: 5vw;
  }
  #popular div h2 {
    margin: 0px;
    font-size: 6vw;
  }
}
@media screen and (min-width: 600px) {
  #menu-container {
    right: 0px;
    padding: 20px 50px 20px 10000px;
  }
  #menu-container div {
    padding: 20px 10px
  }
  #logo {
    padding: 30px 0px 29px 10px;
  }

  #container {
    margin: 0px auto;
    width: 90%;
    height: auto;
    padding: 99.2px 0px 0px 0px;

    display: grid;
    row-gap: 20px;
    column-gap: 2%;
    grid-template-columns: 32% 32% 32%;
  }

  #headline {
    grid-row: 1;
    grid-column: 1/ span 2;

    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-rows: min-content max-content;
    grid-template-columns: auto auto auto;
  }
  #headline img {
    grid-column: 1/span 2;
  }
  #headline h1 {
    grid-column: 1/1;
    grid-row: 2/span 2;
  }
  #headline p {
    grid-column: 2/2;
    grid-row: 2/2;
  }
  #headline button {
    grid-column: 2/2;
    grid-row: 3/3;
  }

  #new {
    grid-row: 1;
    grid-column: 3;
  }

  #popular {
    grid-row: 2;
    grid-column: 1/ span 3;
    padding-top: 50px;

    display: grid;
    column-gap: 20px;
  }
  #popular div h1 {
    margin: 0px;
    font-size: 2vw;
  }
  #popular div h2 {
    margin: 2px;
    font-size: 1.8vw;
    font-weight: 800;
  }
  #popular div h2:hover {
    color: hsl(5, 85%, 63%);
  }
  #popular div p {
    margin: 0px;
    font-size: 1.3vw;
  }
}